.btn-add {
    cursor: pointer;
    background-color: blue;
    color: white;
    padding: 13px 19px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 25px;
    position: fixed;
    left: 40px;
    bottom: 20px;
    z-index: 14;
    width: 60px;
    display: block;
    height: 60px;
}