<!-- <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
              <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
            </button>
            <a routerLink="/" class="navbar-brand">Calendar</a>
          </div>
          <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a style="cursor: pointer;" routerLink="/events">Events</a></li>                
                <li routerLinkActive="active"><a style="cursor: pointer;" routerLink="/about">About</a></li>                
                <li routerLinkActive="active"><a style="cursor: pointer;" routerLink="/account">Account</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="isAuthenticated">
                    <a style="cursor: pointer;" (click)="onLogout()">Logout</a>
                </li>
                <li class="dropdown" appDropdown *ngIf="isAuthenticated">
                    <a style="cursor: pointer;" class="dropdown-toggle" role="button">Mannage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a style="cursor: pointer;" (click)="onSaveData()">Save Data</a></li>
                        <li><a style="cursor: pointer;" (click)="onFetchData()">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Calendar Events</a>
    <button class="navbar-toggler" type="button" (click)="collapsed = !collapsed" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/events">Events</a>
        <a class="nav-item nav-link" href="/about">About</a>
        <a class="nav-item nav-link" href="/account">Account</a>
      </div>
    </div>
  </nav>