
<full-calendar
  #calendar
  defaultView="dayGridMonth"
  [plugins]="calendarPlugins"
  [weekends]="true"
  deepChangeDetection="true"
  [events]="eventsInputs"
  [defaultDate]="defaultDate"
  [timeZone]="timeZone"
  (datesRender)="handleDatesRender($event)"
  (eventClick)="handleEventClick($event)">
</full-calendar>
<!-- <div *ngIf="options">
  <ng-fullcalendar 
  #fullcalendar [options]="options" 
  (eventClick)="eventClick($event.detail)" 
  (eventDrop)="updateEvent($event.detail)"
  (eventResize)="updateEvent($event.detail)" 
  (clickButton)="clickButton($event.detail)"></ng-fullcalendar>
</div> -->
