<div [formGroup]="form">
  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-outline-primary" id="filter.key" ngbDropdownToggle>
      {{ filter.label }} <fa-icon [icon]="faFilter" class="ml-2"></fa-icon>
    </button>
    <div ngbDropdownMenu aria-labelledby="filter.key">
      <div [ngSwitch]="filter.controlType">
        <div *ngSwitchCase="'multicheckbox'" class="ml-2">
          <div
            *ngFor="let option of options.controls; let i = index"
            [formArrayName]="filter.key"
          >
            <input type="checkbox" [formControlName]="i" />
            <span class="ml-1">{{ filter.options[i].value }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
