<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h3>Login</h3>
  <div class="form-group">
    <input type="email" id="email" formControlName="email" class="form-control" placeholder="Email" />
  </div>
  <div class="form-group">
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" formControlName="password" class="form-control" placeholder="Password" />
  </div>
  <div class="form-group">
    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!loginForm.valid">Login</button>
    <ngx-spinner></ngx-spinner>
    <div *ngIf="error" class="alert alert-danger mt-3" role="alert">
      <strong>Oops!</strong> {{error}}
    </div>
  </div>
  <div class="form-group">
    <a href="#" class="ForgetPwd">Forget Password?</a>
  </div>
</form>