<div class="row justify-content-center">
    <div class="col-md-4 text-center">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <img class="mb-4" src="" alt="" width="125" height="125">
        <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
        <div class="form-group">
            <label for="email" class="sr-only">Email address</label>
            <input
              type="email"
              id="email"
              formControlName="email"
              class="form-control"
              placeholder="Email"/>            
        </div>
        <div class="form-group">
            <label for="password" class="sr-only">Password</label>
            <input
              type="password"
              id="password"
              formControlName="password"
              class="form-control"
              placeholder="Password"/>
        </div>   
        <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!loginForm.valid">Go</button>
        <ngx-spinner></ngx-spinner>   
        <div *ngIf="error" class="alert alert-danger mt-3" role="alert">
            <strong>Oops!</strong> {{error}}
        </div>     
      </form>
    </div> 
  </div>