<h1>Filters:</h1>
<button type="button" class="btn btn-submit" (click)="onAddFilterClick()">Add Filter <fa-icon [icon]="faPlus" class="ml-2"></fa-icon></button>
<form [formGroup]="filterFormGroup" (ngSubmit)="onSubmit()">
    <div formArrayName="filtersArray">          
        <div *ngFor="let filter of filtersArray.controls; let i = index">
            <div [formGroupName]="i">                
            <select formControlName="propertyName"> 
                <option *ngFor="let propertyNameItem of propertiesNames" value="{{propertyNameItem.id}}" >{{propertyNameItem.label}}</option>
            </select>
            <select formControlName="operation"> 
                <option *ngFor="let operationItem of operations" value="{{operationItem.id}}" >{{operationItem.label}}</option>
            </select>
            <!-- <label [attr.for]="question.key">{{question.label}}</label>

            <div [ngSwitch]="question.controlType">
          
              <input *ngSwitchCase="'textbox'" [formControlName]="question.key"
                      [id]="question.key" [type]="question.type">
          
              <select *ngSwitchCase="'dropdown'" [id]="question.key" [formControlName]="question.key">
                <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
              </select>
          
            </div> -->
            <input type="text" formControlName="value">            
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-submit" [disabled]="!filterFormGroup.valid">Submit</button>
</form>