/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import "~ng-pick-datetime/assets/style/picker.min.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn-submit{
    background-color: #028090;
    margin-right: 10px;
    color: white;
}

.btn-cancel{
    background-color: #aaa;
    margin-right: 10px;
    color: white;
}
